$enable-gradients: true;

@import "../scss/bootstrap";

#carouselIndicators{
   width:80%;  /*サイズ指定*/
   margin:auto;
}
#carouselIndicators img{
   width:100%;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

.big-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 140px;
	background: #000000;
	color: white;
	text-align: center;
	padding: 2.5rem 0;
}

.option {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
	padding-right: -10px;
    padding-left: -10px;
}

.card-mb-4 {
	margin-bottom: 1rem !important;
}

.card-list {
	padding-left: 10px;
	padding-right: 10px;
}

.card-body-option {
    flex: 1 1 auto;
    padding: 0rem;
}

.card-title {
	margin-bottom: 0.5rem;
	font-size: 130%;
	font-weight: 600;
}

.badge-card {
    display: block;
	background-color: aliceblue;
	margin-top: 5px;
    padding: 0.5em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.list-group-option {
    position: relative;
    display: block;
    padding: 0.5rem 0;
    margin-bottom: -1px;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.youtube {
	position: relative;
	padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
	height: 0;
	overflow: hidden;
}

.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// ホバーエフェクト

.overlay {
	position: relative;
	display: block;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	z-index: 1;
}

.overlay a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent:-9999px;
	z-index: 2;
}

.overlay:hover {
	background: rgba(0,195,101,0.4) !important;
	cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 10px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}